* {
	box-sizing: border-box;
}

p {
	width:33.33%;
	padding: 15px;
	background-color: gray;
	border: 3px solid black;
	float: left;

}

#osTres {
	position:relative;
	top: 150px;
}

h1 {
	text-align: center;
}

