/**{
	box-sizing: border-box;
}*/

/* HEADER */
#header-nav {
	background-color: gray;
	border-radius:0;
	border: 2px solid black;
	margin: 0;
	padding-left: 25px;
}

h1 {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#header-nav a:hover, #header-nav a:focus{
	text-decoration: none;
}

#nav-list {
	margin-top: 0px;
}
#nav-list a {
	color: black;
	text-align: center;
	border: 1px solid black;
}

#nav-list a:hover {
	background-color: gray;
}

h2 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}


h3 {
	text-align: center;
	margin-top: 5px;
	font-weight: bold;
}

.container .jumbotron{
	background-color: gray;
	font-size: 20px;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}